{% extends "form_base.html" %}
{% block form_method %}
<form action="/submit" autocomplete="on" class="byr-form" id="form_id" method="GET">
    {% endblock %}
    {% block name %}
    <label>{{user.information.name}}</label>
    {% endblock %}
    {% block sex %}
    <label>{{user.information.sex}}</label>
    {% endblock %}
    {% block phone %}
    <label>{{user.information.tell}}</label>
    {% endblock %}
{% block email %}
<label>{{user.information.email}}</label>
{% endblock %}
{% block department1 %}
<label>{{user.information.department1}}</label>
{% endblock %}
{% block class1 %}
<label>{{user.information.school_class1}}</label>
{% endblock %}
{% block education1 %}
<label>{{user.information.education1}}</label>
{% endblock %}
{% block year1 %}
<label>{{user.information.year_system1}}</label>
{% endblock %}
{% block year_enroll1 %}
{% if user.information.year_enroll1 %}
<label>{{user.information.year_enroll1}}</label>
{% endif %}
{% endblock %}

{% block year_graduate1 %}
{% if user.information.year_graduate1 %}
<label>{{user.information.year_graduate1}}</label>
{% endif %}
{% endblock %}

{% block teacher1 %}
{% if user.information.teacher1 %}
<label>{{user.information.teacher1}}</label>
{% endif %}
{% endblock %}

{% block mentor1 %}
{% if user.information.mentor1 %}
<label>{{user.information.mentor1}}</label>
{% endif %}
{% endblock %}

{% block department2 %}
<label>{{user.information.department2}}</label>
{% endblock %}
{% block class2 %}
<label>{{user.information.school_class2}}</label>
{% endblock %}
{% block education2 %}
<label>{{user.information.education2}}</label>
{% endblock %}
{% block year2 %}
<label>{{user.information.year_system2}}</label>
{% endblock %}
{% block year_enroll2 %}
{% if user.information.year_enroll2 %}
<label>{{user.information.year_enroll2}}</label>
{% endif %}
{% endblock %}

{% block year_graduate2 %}
{% if user.information.year_graduate2 %}
<label>{{user.information.year_graduate2}}</label>
{% endif %}
{% endblock %}

{% block teacher2 %}
{% if user.information.teacher2 %}
<label>{{user.information.teacher2}}</label>
{% endif %}
{% endblock %}

{% block mentor2 %}
{% if user.information.mentor2 %}
<label>{{user.information.mentor2}}</label>
{% endif %}
{% endblock %}

{% block department3 %}
<label>{{user.information.department3}}</label>
{% endblock %}
{% block class3 %}
<label>{{user.information.school_class3}}</label>
{% endblock %}
{% block education3 %}
<label>{{user.information.education3}}</label>
{% endblock %}
{% block year3 %}
<label>{{user.information.year_system3}}</label>
{% endblock %}
{% block year_enroll3 %}
{% if user.information.year_enroll3 %}
<label>{{user.information.year_enroll3}}</label>
{% endif %}
{% endblock %}

{% block year_graduate3 %}
{% if user.information.year_graduate3 %}
<label>{{user.information.year_graduate3}}</label>
{% endif %}
{% endblock %}

{% block teacher3 %}
{% if user.information.teacher3 %}
<label>{{user.information.teacher3}}</label>
{% endif %}
{% endblock %}

{% block mentor3 %}
{% if user.information.mentor3 %}
<label>{{user.information.mentor3}}</label>
{% endif %}
{% endblock %}

{% block current_work_unit %}
<label>{{user.information.current_work_unit}}</label>
{% endblock %}
{% block address_work_unit %}
<label>{{user.information.address_work_unit}}</label>
{% endblock %}
{% block industry_category %}
<label>{{user.information.industry_category}}</label>
{% endblock %}
{% block unit_property %}
{% if user.information.unit_property %}
<label>{{ user.information.unit_property}}</label>
{% endif %}
{% endblock %}
{% block job_title %}
<label>{{user.information.current_job_title}}</label>
{% endblock %}
{% block honour %}
<label>{{user.information.honour}}</label>
{% endblock %}
{% block remark %}
<label>{{user.information.remark}}</label>
{% endblock %}

{% block button_submit %}
<a href="/submit">
    <button class="byr-form-btn" id='submit'>重新修改</button>
</a>
{% endblock %}