{% extends "form_base.html" %}
{% block form_method %}
<form action="/submit" autocomplete="on" class="byr-form" id="form_id" method="GET">
    {% endblock %}
    {% block name %}
    <label>{{user.information.name}}</label>
    {% endblock %}
    {% block sex %}
    <label>{{user.information.sex}}</label>
    {% endblock %}
    {% block phone %}
    <label>{{user.information.tell}}</label>
    {% endblock %}
{% block email %}
<label>{{user.information.email}}</label>
{% endblock %}
{% block department %}
<label>{{user.information.department}}</label>
{% endblock %}
{% block class %}
<label>{{user.information.school_class}}</label>
{% endblock %}
{% block education %}
<label>{{user.information.education}}</label>
{% endblock %}
{% block year %}
<label>{{user.information.year_system}}</label>
{% endblock %}
{% block year_enroll %}
{% if user.information.year_enroll %}
<label>{{user.information.year_enroll}}</label>
{% endif %}
{% endblock %}

{% block year_graduate %}
{% if user.information.year_graduate %}
<label>{{user.information.year_graduate}}</label>
{% endif %}
{% endblock %}

{% block teacher %}
{% if user.information.teacher %}
<label>{{user.information.teacher}}</label>
{% endif %}
{% endblock %}

{% block mentor %}
{% if user.information.mentor %}
<label>{{user.information.mentor}}</label>
{% endif %}
{% endblock %}
{% block current_work_unit %}
<label>{{user.information.current_work_unit}}</label>
{% endblock %}
{% block address_work_unit %}
<label>{{user.information.address_work_unit}}</label>
{% endblock %}
{% block industry_category %}
<label>{{user.information.industry_category}}</label>
{% endblock %}
{% block unit_property %}
{% if user.information.unit_property %}
<label>{{ user.information.unit_property}}</label>
{% endif %}
{% endblock %}
{% block job_title %}
<label>{{user.information.current_job_title}}</label>
{% endblock %}
{% block honour %}
<label>{{user.information.honour}}</label>
{% endblock %}
{% block remark %}
<label>{{user.information.remark}}</label>
{% endblock %}

{% block button_submit %}
<a href="/submit">
    <button class="byr-form-btn" id='submit'>重新修改</button>
</a>
{% endblock %}