<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/static/">
    <!--    README    :         所有下拉列表中,当value值为0时是一个无意义的初始提示值,在验证时应禁止提交-->
    <link href="css/bootstrap-grid.min.css" rel="stylesheet">
    <script src="js/jquery-3.3.1.js?{{version}}"></script>
    <meta content="width=device-width,initial-width=1.0,minimum-width=1.0,maximum-width=3.0" name="viewport">
    <meta content="IE=edge" http-equiv="x-ua-compatible">
    <meta content="no-cache" http-equiv="Pragma">
    <style>

        * {
            margin: 0;
            padding: 0;
            font-size: 16px;
            white-space: nowrap;
            color: black;
        }

        .pastchange{
            display: none;
        }

        [id="form-textarea"] {
            padding-left: 0px;
            padding-right: 0;
        }

        [id="time"]{
            color:#1e9fff;
            font-style:italic;
            font-weight: bold;
        }
<!--        .col-md-4_byr-msg {-->
<!--            color:#1e9fff;-->
<!--            font-style:italic;-->
<!--            font-weight: bold;-->
<!--        }-->


        .byr-main {
            margin: 20px 40px;
            padding-top: 25px;
            padding-left: 15px;
            padding-right: 15px;
            background-color: rgba(255, 255, 255, 0.8);
            border-radius: 5px;
        }

        .byr-blockquote {
            /*border:red 1px solid;*/
            border-left: 6px solid blue;
            font-size: 1em;
            padding: 10px;
            display: flow;
            background-color: rgba(200, 144, 255, 0.35);
            /*background:linear-gradient(to right,rgba(200,144,255,0.35),);*/
            margin: 0px 10px;
            color: black;
        }

        .row {
            padding: 10px 0;
            margin: 0px 5px;
            /*border: solid 1px red;*/
        }

        .col-md-2 label {
            /*border: solid 1px blue;*/
            margin: 0px;
            padding-left: 5px;
            padding-bottom: 5px;
            padding-right: 5px;
            margin-top: 2px;
            display: inline-block;
            color: black;
        }

        .col-md-4 input, .col-md-4 select {
            /*border: solid 1px greenyellow;*/
            position: relative;
            width: 100%;
            height: 30px;
            display: flow;
        }

        .byr-form input, .byr-form-textarea textarea, .byr-form select {
            -webkit-appearance: none;
            border: solid 1px #ccc;
            padding-left: 0.375em;
        }

        .byr-form input:focus, .byr-form-textarea textarea:focus {
            /*使用蓝色聚焦,可以看到阴影十分重要*/
            box-shadow: 0 0 0.5em rgba(93, 162, 248, 0.5);
            border-color: #5da2f8;
            /*防止出现重复渲染*/
            outline: 0;
        }

        .byr-form-required:after {
            margin: -0.2em 0em 0em 0.2em;
            content: '*';
            color: #DB2828;
        }

        .byr-form-table {
            /*border: black 1px solid;*/
            margin: 0px 10px;
            padding: 10px;
        }

        .col-md-2 {
            /*border: solid 1px black;*/
        }

        .col-md-4 {
            /*border:solid 1px black;*/
            border-left: 0px;
            padding-left: 2px;
            padding-right: 2px;
        }

        .byr-form-textarea textarea {
            position: relative;
            display: flow;
            width: 100%;
            height: 100px;
            /*border:solid 1px darkorange;*/
            padding-top: 0.325em;
            padding-bottom: 0.325em;
        }

        .byr-form-btn {
            display: inline-block;
            height: 42px;
            line-height: 42px;
            padding: 0 18px;
            background-color: #FF5722;
            color: #fff;
            white-space: nowrap;
            text-align: center;
            font-size: 14px;
            border: none;
            border-radius: 8px;
            cursor: pointer;
            width: 205px;
        }

        .byr-btn-g {
            display: block;
            /*border:solid 1px darkred;*/
            text-align: center;
            margin: 0px 0px;
            width: 100%;
            position: relative;
        }

        body, html {
            /*第一次写background-image的适配移动屏幕*/
            width: 100%;
            height: 100%;
            z-index: -10;
            background-image: url(images/20191128024554.jpg);
            background-size: cover;
            background-repeat: repeat;
        }

        .byr-nav {
            display: flow;
            height: 64px;
            background-image: linear-gradient(to right, #D9535A, #D9535A);
            z-index: -1;
            /*border:solid 1px red;*/
            /*position: relative;*/
            /*position:absolute;*/
        }

        .byr-i {
            float: right;
            display: inline-block;
            /*border:solid 1px red;*/
            position: relative;
            top: 10px;
            padding: 10px;
            right: 10px;
            width: 45px;
            height: 45px;
        }

        a {
            text-decoration: none;
            color: white;
        }

        .byr-font {
            color: white;
            font-family: sans-serif;
            position: absolute;
            top: 14px;
            font-size: 22px;
        }

        @media (max-width: 968px) {
            .row {
                padding: 5px 0;
            }

            * {
                white-space: normal;
            }
        }

        @media (max-width: 768px) {
            * {
                font-size: 14px;
            }

            .row {
                padding-top: 0px;
                margin: 0 -10px;
            }

            .col-md-2 {
                padding: 5px 0;
            }

            textarea {
                height: 120px;
            }
        }

        @media (max-width: 460px) {
            .byr-i {
                display: none;
                width:0;
                height:0;
            }

            .byr-font {
                display: none;
                width:0;
                height:0;
            }

            .byr-main {
                margin-top:0;
                margin-bottom:0;
                margin-left:0px;
                margin-right:-11px;
            }
            .byr-info{
                padding-bottom:10px;
                padding-top:10px;
                padding-left:15px;
                padding-right:15px;
                /*border:white 2px solid;*/
            }
            .byr-msg{
                padding-left:15px;
                font-size:18px;
            }
        }

        .red {
            color:red;
            font-family:"Microsoft YaHei";
        }


    </style>
    <meta content="北京邮电大学校友登记表单" name="keywords">
    <meta content="" name="description">
    <meta content="index,follow" name="robots">
    <meta charset="UTF-8">
    <title>校友信息填报系统</title>
</head>
<body>
<div class="byr-nav">
    <img alt="icon" class="byr-nav-img" height="64px" src="images/2019-12-02_232720.png">
    <span class="byr-font">校友信息填报系统</span>
    <a href="/logout"><img alt="退出" class="byr-i" src="images/20191203000942.png"></a>
</div>
<div class="byr-main">
    {% block form_method %}
    <form action="/submit" autocomplete="on" class="byr-form" id="form_id" method="POST">
        {% endblock %}
        {% csrf_token %}
        <blockquote class="byr-blockquote pastchange">
            您上次填报信息
        </blockquote>
        <div class="byr-form-table pastchange">
            <div class="row">
                <div class="col-md-2 byr-info">
                    您最近登陆的时间:
                </div>
                <div class="col-md-4 byr-msg" id="time">
                    {{user.information.last_submit}}
                </div>
                <div class="col-md-2 byr-info">
                    修改项:
                </div>
                <div class="col-md-4 byr-msg">
                    {{user.information.last_changed_fields}}
                </div>
            </div>
        </div>
        <script>
               if("{{user.information.last_changed_fields}}"!=""){

                   let list = document.getElementsByClassName("pastchange");
                   console.log(list.length);
                   for(var i=0;i<list.length;i++){
                       $(list[i]).show();
                   }
<!--                   time.innerHTML=item;-->
               }

        </script>
        <blockquote class="byr-blockquote">
            基本信息
        </blockquote>
        <div class="byr-form-table">
            <div class="row">
                <div class="col-md-2">
                    <label class="byr-form-required">姓名</label>
                </div>
                <div class="col-md-4 ">
                    {% block name %}
                    <input id="name" name="name" placeholder="例:张三" type="text" value="{{user.information.name}}">
                    {% endblock %}
                </div>
                <div class="col-md-2">
                    <label class="byr-form-required"> 性别</label>
                </div>
                <div class="col-md-4 ">
                    {% block sex %}
                    <select id=sex name="sex">
                        <option value="0">请选择</option>
                        {% if user.information.sex == '男' %}
                        <option selected='true' value="1">男</option>
                        {% else %}
                        <option value="1">男</option>
                        {% endif %}
                        {% if user.information.sex == '女' %}
                        <option selected='true' value="2">女</option>
                        {% else %}
                        <option value="2">女</option>
                        {% endif %}
                    </select>
                    {% endblock %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <label class="byr-form-required" for="phone">手机号码/固定电话</label>
                </div>
                <div class="col-md-4">
                    {% block phone %}
                    {% if user.information.tell %}
                    <input id="phone" name="tell" placeholder="例:18028745726" type="text"
                           value="{{user.information.tell}}">
                    {% else %}
                    <input id="phone" name="tell" placeholder="例:18028745726" type="text">
                    {% endif %}
                    {% endblock %}
                </div>
                <div class="col-md-2">
                    <label class="byr-form-required">电子邮箱</label>
                </div>
                <div class="col-md-4">
                    {% block email %}
                    <input id="email" name="email" placeholder="例:2804052801@qq.com" type="text"
                           value="{{user.information.email}}">
                    {% endblock %}
                </div>
            </div>
        </div>
        <blockquote class="byr-blockquote">
            在校学习经历1
        </blockquote>
        <div class="byr-form-table">
            <!--            以下存疑-->
            <div class="row">
                <div class="col-md-2">
                    <label class="byr-form-required" for="yuanxi">院系</label>
                </div>
                <div class="col-md-4">
                    {% block department1 %}
                    <input id="yuanxi" name="department1" placeholder="例:计算机学院" type="text"
                           value="{{user.information.department1}}">
                    {% endblock %}
                </div>
                <div class="col-md-2">
                    <label for="banji">班级</label>
                </div>
                <div class="col-md-4">
                    {% block class1 %}
                    <input id="banji" name="class1" placeholder="例:10班" type="text"
                           value="{{user.information.school_class1}}">
                    {% endblock %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <label class="byr-form-required" for="xueli">北邮学历</label>
                </div>
                <div class="col-md-4">
                    {% block education1 %}
                    <select id="xueli1" name="education1" onchange="show(this.options)">
                        <option value="0">北邮给您的第一个学位证上的学历</option>
                        <option value="1">本科生</option>
                        <option value="2">硕士研究生</option>
                        <option value="3">博士生</option>
                    </select>
                    {% endblock %}
                </div>
                <div class="col-md-2">
                    <label for="xuezhi">学制</label>
                </div>
                <div class="col-md-4">
                    {% block year1 %}
                    <input id="xuezhi" name="year1" placeholder="例:四年" type="text"
                           value="{{user.information.year_system1}}">
                    {% endblock %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <label class="byr-form-required" for="startdate">入学年份</label>
                </div>
                <div class="col-md-4">
                    {% block year_enroll1 %}
                    <select id="startdate1" name="startdate1">
                        <option value="0">请选择入学年份</option>
                    </select>
                    {% endblock %}
                </div>

                <div class="col-md-2">
                    <label class="byr-form-required" for="enddate">毕业年份</label>
                </div>
                <div class="col-md-4">
                    {% block year_graduate1 %}
                    <select id="enddate1" name="date21">
                        <option value="0">请选择毕业年份</option>
                    </select>
                    {% endblock %}
                    <!--                认怂,这里不再追求本科生的地方也触发onchange,而是把hidden去掉-->
                </div>
            </div>
            <script>
                window.onload = function () {
                    let startdate = document.getElementById("startdate1");
                    let enddate = document.getElementById("enddate1");
                    let date = new Date().getFullYear();

                    for (let i = 1955; i < date - 4; i++) {
                        let option = document.createElement("option");
                        let end = document.createElement("option");

                        option.innerHTML = `<option value="${i - 1992}">${i}</option>`;
                        end.innerHTML = `<option value="${i - 1992}">${i + 4}</option>`;

                        enddate.add(end, null);
                        startdate.add(option, null);

                    }
                }



            </script>
            <div class="row">
                <div class="col-md-2">
                    <label for="teacher">印象最深的教授或导员</label>
                </div>
                <div class="col-md-4">
                    {% block teacher1 %}
                    {% if user.information.teacher1 %}
                    <input class="teacher" id="teacher1" name="teacher1" placeholder="例:徐萨" type="text"
                           value="{{user.information.teacher1}}">
                    {% else %}
                    <input class="teacher" id="teacher1" name="teacher1" placeholder="例:徐萨" type="text">
                    {% endif %}
                    {% endblock %}
                </div>
                <div class="col-md-2">
                    <label for="professor">导师姓名</label>
                </div>
                <div class="col-md-4">
                    {% block mentor1 %}
                    {% if user.information.mentor1 %}
                    <input class="professor" disabled="disabled" id="professor1" name="mentor1" type="text"
                           value="{{user.information.mentor1}}">
                    {% else %}
                    <input class="professor" disabled="disabled" id="professor1" name="mentor1" type="text">
                    {% endif %}
                    {% endblock %}
                </div>
            </div>
            <script>
            function show(e) {
                // console.log(e);
                //这里的value不是中文,而是键值对的value
                const teacher = document.querySelector("#teacher1");
                const professor = document.querySelector("#professor1");
                for (let i = 0; i < xueli1.length; i++) {
                    let element = xueli1.children.item(i);
                    if (element.selected && i === 0) {
                        teacher.removeAttribute("disabled");
                        professor.setAttribute("disabled", "true");
                        if(e=="auto"){
                        }else{alert("学历为本科生时,不用填写导师姓名");}

                    } else if (element.selected && i !== 0) {
                        professor.removeAttribute("disabled");
                        teacher.setAttribute("disabled", "disabled");
                        if(e=="auto"){}else{alert("学历为研究生时,不用填写辅导员或印象最深的导师!");}
                    }
                }
            }

            </script>
        </div>
        <blockquote class="byr-blockquote">
            在校学习经历2(非北邮本硕或非北邮硕博不填)
        </blockquote>
        <div class="byr-form-table">
            <!--            以下存疑-->
            <div class="row">
                <div class="col-md-2">
                    <label class="byr-form-required" for="yuanxi">院系</label>
                </div>
                <div class="col-md-4">
                    {% block department2 %}
                    <input id="yuanxi" name="department2" placeholder="例:计算机学院" type="text"
                           value="{{user.information.department2}}">
                    {% endblock %}
                </div>
                <div class="col-md-2">
                    <label for="banji">班级</label>
                </div>
                <div class="col-md-4">
                    {% block class2 %}
                    <input id="banji" name="class2" placeholder="例:10班" type="text"
                           value="{{user.information.school_class2}}">
                    {% endblock %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <label class="byr-form-required" for="xueli">北邮学历</label>
                </div>
                <div class="col-md-4">
                    {% block education2 %}
                    <select id="xueli2" name="education2" onchange="show(this.options)">
                        <option value="0">北邮给您的第二个学位证上的学历(没有则不填)</option>
                        <option value="1">本科生</option>
                        <option value="2">硕士研究生</option>
                        <option value="3">博士生</option>
                    </select>
                    {% endblock %}
                </div>
                <div class="col-md-2">
                    <label for="xuezhi">学制</label>
                </div>
                <div class="col-md-4">
                    {% block year2 %}
                    <input id="xuezhi" name="year2" placeholder="例:四年" type="text"
                           value="{{user.information.year_system2}}">
                    {% endblock %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <label class="byr-form-required" for="startdate">入学年份</label>
                </div>
                <div class="col-md-4">
                    {% block year_enroll2 %}
                    <select id="startdate2" name="startdate2">
                        <option value="0">请选择入学年份</option>
                    </select>
                    {% endblock %}
                </div>

                <div class="col-md-2">
                    <label class="byr-form-required" for="enddate">毕业年份</label>
                </div>
                <div class="col-md-4">
                    {% block year_graduate2 %}
                    <select id="enddate2" name="date22">
                        <option value="0">请选择毕业年份</option>
                    </select>
                    {% endblock %}
                    <!--                认怂,这里不再追求本科生的地方也触发onchange,而是把hidden去掉-->
                </div>
            </div>
            <script>
                window.onload = function () {
                    let startdate = document.getElementById("startdate2");
                    let enddate = document.getElementById("enddate2");
                    let date = new Date().getFullYear();

                    for (let i = 1955; i < date - 4; i++) {
                        let option = document.createElement("option");
                        let end = document.createElement("option");

                        option.innerHTML = `<option value="${i - 1992}">${i}</option>`;
                        end.innerHTML = `<option value="${i - 1992}">${i + 4}</option>`;

                        enddate.add(end, null);
                        startdate.add(option, null);

                    }
                }



            </script>
            <div class="row">
                <div class="col-md-2">
                    <label for="teacher">印象最深的教授或导员</label>
                </div>
                <div class="col-md-4">
                    {% block teacher2 %}
                    {% if user.information.teacher2 %}
                    <input class="teacher" id="teacher2" name="teacher2" placeholder="例:徐萨" type="text"
                           value="{{user.information.teacher2}}">
                    {% else %}
                    <input class="teacher" id="teacher2" name="teacher2" placeholder="例:徐萨" type="text">
                    {% endif %}
                    {% endblock %}
                </div>
                <div class="col-md-2">
                    <label for="professor">导师姓名</label>
                </div>
                <div class="col-md-4">
                    {% block mentor2 %}
                    {% if user.information.mentor2 %}
                    <input class="professor" disabled="disabled" id="professor2" name="mentor2" type="text"
                           value="{{user.information.mentor2}}">
                    {% else %}
                    <input class="professor" disabled="disabled" id="professor2" name="mentor2" type="text">
                    {% endif %}
                    {% endblock %}
                </div>
            </div>
            <script>
            function show(e) {
                // console.log(e);
                //这里的value不是中文,而是键值对的value
                const teacher = document.querySelector("#teacher2");
                const professor = document.querySelector("#professor2");
                for (let i = 0; i < xueli2.length; i++) {
                    let element = xueli2.children.item(i);
                    if (element.selected && i === 0) {
                        teacher.removeAttribute("disabled");
                        professor.setAttribute("disabled", "true");
                        if(e=="auto"){
                        }else{alert("学历为本科生时,不用填写导师姓名");}

                    } else if (element.selected && i !== 0) {
                        professor.removeAttribute("disabled");
                        teacher.setAttribute("disabled", "disabled");
                        if(e=="auto"){}else{alert("学历为研究生时,不用填写辅导员或印象最深的导师!");}
                    }
                }
            }

            </script>
        </div>
        <blockquote class="byr-blockquote">
            在校学习经历3(非北邮本硕博不填)
        </blockquote>
        <div class="byr-form-table">
            <!--            以下存疑-->
            <div class="row">
                <div class="col-md-2">
                    <label class="byr-form-required" for="yuanxi">院系</label>
                </div>
                <div class="col-md-4">
                    {% block department3 %}
                    <input id="yuanxi" name="department3" placeholder="例:计算机学院" type="text"
                           value="{{user.information.department3}}">
                    {% endblock %}
                </div>
                <div class="col-md-2">
                    <label for="banji">班级</label>
                </div>
                <div class="col-md-4">
                    {% block class3 %}
                    <input id="banji" name="class3" placeholder="例:10班" type="text"
                           value="{{user.information.school_class3}}">
                    {% endblock %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <label class="byr-form-required" for="xueli">北邮学历</label>
                </div>
                <div class="col-md-4">
                    {% block education3 %}
                    <select id="xueli3" name="education3" onchange="show(this.options)">
                        <option value="0">北邮给您的第三个学位证上的学历(没有则不填)</option>
                        <option value="1">本科生</option>
                        <option value="2">硕士研究生</option>
                        <option value="3">博士生</option>
                    </select>
                    {% endblock %}
                </div>
                <div class="col-md-2">
                    <label for="xuezhi">学制</label>
                </div>
                <div class="col-md-4">
                    {% block year3 %}
                    <input id="xuezhi" name="year3" placeholder="例:四年" type="text"
                           value="{{user.information.year_system3}}">
                    {% endblock %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <label class="byr-form-required" for="startdate">入学年份</label>
                </div>
                <div class="col-md-4">
                    {% block year_enroll3 %}
                    <select id="startdate3" name="startdate3">
                        <option value="0">请选择入学年份</option>
                    </select>
                    {% endblock %}
                </div>

                <div class="col-md-2">
                    <label class="byr-form-required" for="enddate">毕业年份</label>
                </div>
                <div class="col-md-4">
                    {% block year_graduate3 %}
                    <select id="enddate3" name="date23">
                        <option value="0">请选择毕业年份</option>
                    </select>
                    {% endblock %}
                    <!--                认怂,这里不再追求本科生的地方也触发onchange,而是把hidden去掉-->
                </div>
            </div>
            <script>
                window.onload = function () {
                    let startdate = document.getElementById("startdate3");
                    let enddate = document.getElementById("enddate3");
                    let date = new Date().getFullYear();

                    for (let i = 1955; i < date - 4; i++) {
                        let option = document.createElement("option");
                        let end = document.createElement("option");

                        option.innerHTML = `<option value="${i - 1992}">${i}</option>`;
                        end.innerHTML = `<option value="${i - 1992}">${i + 4}</option>`;

                        enddate.add(end, null);
                        startdate.add(option, null);

                    }
                }



            </script>
            <div class="row">
                <div class="col-md-2">
                    <label for="teacher">印象最深的教授或导员</label>
                </div>
                <div class="col-md-4">
                    {% block teacher3 %}
                    {% if user.information.teacher3 %}
                    <input class="teacher" id="teacher3" name="teacher3" placeholder="例:徐萨" type="text"
                           value="{{user.information.teacher3}}">
                    {% else %}
                    <input class="teacher" id="teacher3" name="teacher3" placeholder="例:徐萨" type="text">
                    {% endif %}
                    {% endblock %}
                </div>
                <div class="col-md-2">
                    <label for="professor">导师姓名</label>
                </div>
                <div class="col-md-4">
                    {% block mentor3 %}
                    {% if user.information.mentor3 %}
                    <input class="professor" disabled="disabled" id="professor3" name="mentor3" type="text"
                           value="{{user.information.mentor3}}">
                    {% else %}
                    <input class="professor" disabled="disabled" id="professor3" name="mentor3" type="text">
                    {% endif %}
                    {% endblock %}
                </div>
            </div>
            <script>
            function show(e) {
                // console.log(e);
                //这里的value不是中文,而是键值对的value
                const teacher = document.querySelector("#teacher3");
                const professor = document.querySelector("#professor3");
                for (let i = 0; i < xueli3.length; i++) {
                    let element = xueli3.children.item(i);
                    if (element.selected && i === 0) {
                        teacher.removeAttribute("disabled");
                        professor.setAttribute("disabled", "true");
                        if(e=="auto"){
                        }else{alert("学历为本科生时,不用填写导师姓名");}

                    } else if (element.selected && i !== 0) {
                        professor.removeAttribute("disabled");
                        teacher.setAttribute("disabled", "disabled");
                        if(e=="auto"){}else{alert("学历为研究生时,不用填写辅导员或印象最深的导师!");}
                    }
                }
            }

            </script>
        </div>
        <!--    以下的Js内容控制了disabled的问题,由于受UI绘图时的布局限制,这里就简单将hidden处理为disabled-->
        <blockquote class="byr-blockquote">
            工作信息
        </blockquote>
        <div class="byr-form-table">
            <div class="row">
                <div class="col-md-2">
                    <label class="byr-form-required" for="workplace">现工作单位</label>
                </div>
                <div class="col-md-4">
                    {% block current_work_unit %}
                    <input id="workplace" name="workplace" placeholder="例:北京邮电大学" type="text"
                           value="{{user.information.current_work_unit}}">
                    {% endblock %}
                </div>
                <div class="col-md-2">
                    <label for="now-work">现工作单位地址</label>
                </div>
                <div class="col-md-4">
                    {% block address_work_unit %}
                    <input id="now-work" name="address" placeholder="例:北京市海淀区西土城路10号" type="text"
                           value="{{user.information.address_work_unit}}">
                    {% endblock %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <label for="industry-selector">行业类别</label>
                </div>
                <div class="col-md-4">
                    {% block industry_category %}
                    <select id="industry-selector" name="category" onchange="render(this.options.selectedIndex)">
                        <!--                    两个空格使之看起来居中一些:-其实of no use-->
                        <option value="0">请选择</option>
                        <option value="1">机关</option>
                        <option value="2">事业单位</option>
                        <option value="3">企业</option>
                        <option value="4">其它</option>
                    </select>
                    {% endblock %}
                </div>
                <div class="col-md-2">
                    <label for="workprop">单位性质</label>
                </div>
                <div class="col-md-4">
                    {% block unit_property %}
                    <select id="workprop" name="property">
                        <option value="0">此处随行业类别变化而变化</option>
                    </select>
                    {% endblock %}
                </div>
                <script>
                    var a =
                        [
                            ["此处随行业类别变化而变化"],
                            ["省级以上党政机关", "省级以下党政机关"],
                            ["科研设计单位", "高等学校", "其它教育单位", "医疗卫生单位", "体育文化事业", "其它事业单位"],
                            ["国有企业", "中外合资企业", "民营(私营)企业", "外资企业", "集体企业", "其他企业"],
                            ["部队", "社会组织机构", "国际组织机构", "国防科工机构", "财政金融机构", "其它"]
                        ];

                    function render(index) {
                        document.getElementById("industry-selector").options[index].selected = true;
                        const workprop = document.getElementById("workprop");
                        let showarray = a[index];
                        // console.log(showarray);
                        workprop.innerHTML = null;//初始化所有的列表项,删除

                        for (let i = 0; i < showarray.length; i++) {
                            //不支持ES6的写法
                            let option = document.createElement("option");
                            option.innerHTML = "<option value='1'>" + showarray[i] + "</option>";
                            if(showarray[i] == "{{user.information.unit_property}}"){
                                       option.selected = true;
                            }
                            // console.log(option);
                            workprop.add(option, null);
                            //添加列表中的每一项
                            //利用子节点的办法;
                        }
                    }
                         var category = ['请选择','机关','事业单位','企业','其他'];
                        var education_list = ['本科生','硕士研究生','博士生']
                        window.onload = function(){
                            industry_category = document.getElementById("industry-selector");
                            for(i=0;i<industry_category.options.length;++i){
                                console.log(category[i]+"=={{user.information.industry_category}}")
                                if(category[i] == "{{user.information.industry_category}}"){
                                    console.log("true");
                                    render(i);
                                    break;
                                }
                            }
                            education1 = document.getElementById("xueli1");
                            for(i=0;i<education1.options.length;i++){
                                console.log(""+i+":"+(education_list[i] == "{{user.information.education1}}"))
                                if(education_list[i] == "{{user.information.education1}}"){
                                    education1.options[i].selected = true
                                    break;
                                }
                            }
                            education2 = document.getElementById("xueli2");
                            for(i=0;i<education2.options.length;i++){
                                console.log(""+i+":"+(education_list[i] == "{{user.information.education2}}"))
                                if(education_list[i] == "{{user.information.education2}}"){
                                    education2.options[i].selected = true
                                    break;
                                }
                            }
                            education3 = document.getElementById("xueli3");
                            for(i=0;i<education3.options.length;i++){
                                console.log(""+i+":"+(education_list[i] == "{{user.information.education3}}"))
                                if(education_list[i] == "{{user.information.education3}}"){
                                    education3.options[i].selected = true
                                    break;
                                }
                            }
                            show("auto")

                            let startdate1 = document.getElementById("startdate1");
                            let enddate1 = document.getElementById("enddate1");
                            let startdate2 = document.getElementById("startdate2");
                            let enddate2 = document.getElementById("enddate2");
                            let startdate3 = document.getElementById("startdate3");
                            let enddate3 = document.getElementById("enddate3");
                            let date = new Date().getFullYear();
                            console.log("success.");
                            for (let i = 1955; i < date-4; i++) {
                                let option = document.createElement("option");
                                let end = document.createElement("option");
                                console.log("innerdate");

                                option.innerHTML = `<option value="${i - 1992}">${i}</option>`;
                                end.innerHTML = `<option value="${i - 1992}">${i + 4}</option>`;

                                enddate1.add(end, null);
                                startdate1.add(option, null);
                                enddate2.add(end, null);
                                startdate2.add(option, null);
                                enddate3.add(end, null);
                                startdate3.add(option, null);
                            }

                            if("{{user.information.year_enroll1}}"!=""){
                                for(i =0;i<startdate1.options.length;i++){
                                    console.log((1954+i).toString()+"=={{user.information.year_enroll1}}");
                                    if((1954+i).toString()=="{{user.information.year_enroll1}}"){
                                        console.log((1954+i).toString()=="{{user.information.year_enroll1}}");
                                        startdate1.options[i].selected = true;
                                        break;
                                    }
                                }
                            }
                            if("{{user.information.year_enroll2}}"!=""){
                                for(i =0;i<startdate2.options.length;i++){
                                    console.log((1954+i).toString()+"=={{user.information.year_enroll2}}");
                                    if((1954+i).toString()=="{{user.information.year_enroll2}}"){
                                        console.log((1954+i).toString()=="{{user.information.year_enroll2}}");
                                        startdate2.options[i].selected = true;
                                        break;
                                    }
                                }
                            }
                            if("{{user.information.year_enroll3}}"!=""){
                                for(i =0;i<startdate3.options.length;i++){
                                    console.log((1954+i).toString()+"=={{user.information.year_enroll3}}");
                                    if((1954+i).toString()=="{{user.information.year_enroll3}}"){
                                        console.log((1954+i).toString()=="{{user.information.year_enroll3}}");
                                        startdate3.options[i].selected = true;
                                        break;
                                    }
                                }
                            }
                            if("{{user.information.year_graduate1}}"!=""){
                                for(i =0;i<enddate1.options.length;i++){
                                    console.log((1958+i).toString()+"=={{user.information.year_graduate1}}");
                                    if((1958+i).toString()=="{{user.information.year_graduate1}}"){
                                        console.log((1958+i).toString()=="{{user.information.year_graduate1}}");
                                        enddate1.options[i].selected = true;
                                        break;
                                    }
                                }
                            }
                            if("{{user.information.year_graduate2}}"!=""){
                                for(i =0;i<enddate2.options.length;i++){
                                    console.log((1958+i).toString()+"=={{user.information.year_graduate2}}");
                                    if((1958+i).toString()=="{{user.information.year_graduate2}}"){
                                        console.log((1958+i).toString()=="{{user.information.year_graduate2}}");
                                        enddate2.options[i].selected = true;
                                        break;
                                    }
                                }
                            }
                            if("{{user.information.year_graduate3}}"!=""){
                                for(i =0;i<enddate3.options.length;i++){
                                    console.log((1958+i).toString()+"=={{user.information.year_graduate3}}");
                                    if((1958+i).toString()=="{{user.information.year_graduate3}}"){
                                        console.log((1958+i).toString()=="{{user.information.year_graduate3}}");
                                        enddate3.options[i].selected = true;
                                        break;
                                    }
                                }
                            }

                         }


                </script>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <label for="status">现职务职称</label>
                </div>
                <div class="col-md-4">
                    {% block job_title %}
                    <input id="status" name="title" placeholder="例:前端工程师" type="text"
                           value="{{user.information.current_job_title}}">
                    {% endblock %}
                </div>
                <div class="col-md-2">
                    <label for="prize">所获荣誉</label>
                </div>
                <div class="col-md-4">
                    {% block honour %}
                    <input id="prize" name="honour" placeholder="例:年度之星" type="text"
                           value="{{user.information.honour}}">
                    {% endblock %}
                </div>
            </div>
        </div>
        <blockquote class="byr-blockquote">寄语母校</blockquote>
        <div class="byr-form-table">
            <div class="row">
                <div class="col-md-2">
                    <label for="byt">寄语母校</label>
                </div>
                <div class="col-md-10" id="form-textarea">
                    <div class="byr-form-textarea">
                        {% block remark %}
                        <textarea id="byt" name="comments" placeholder="此处填写备注">{{user.information.remark}}</textarea>
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
        <div class="byr-form-table">
            <div class="row">
                <!--            <div class="col-md-12">-->
                <div class="byr-btn-g">
                    {% block button_submit %}
                    <button class="byr-form-btn" id='_submit' type="submit">编辑/提交</button>
                    {% endblock %}
                </div>
                <!--            </div>-->
            </div>
        </div>
    </form>
</div>
<script src="js/app.js?time='{{version}}'" type="text/javascript"></script>
</div>
<script type="text/javascript">
        document.getElementById('_submit').addEventListener('click', ev => {
            ev.preventDefault()
            const form = collectForm()
            const form_ = validateForm(validators, form)
            if (isOk(form_)) {
                //alert("Okay!")
                //fetch("https://baidu.com")
                var form_my = document.getElementById("form_id");
                form_my.submit();
            } else {
                alert(flat(form_))
            }
        })

</script>
</body>
</html>